/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

/* Login Page Styles */
.login-container {
    display: flex;
    height: 100vh;
}

.login-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

form {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.auth {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.btn-1 {
    width: 100%;
    padding: 12px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-1:hover {
    background: #364fc7;
}

/* Register */
.register-container {
    display: flex;
    height: 100vh;
}

.register-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.login {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    margin-bottom: 25px;
}

/* preview */

.header {
    background: #4a6cf7;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #2c3e50;
    color: white;
    min-height: calc(100vh - 60px);
    padding-top: 20px;
}


.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #34495e;
}

.sidebar .active {
    background: #1abc9c;
}
