/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

/* Login Page Styles */
.login-container {
    display: flex;
    height: 100vh;
}

.login-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

form {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    margin-bottom: 25px;
}

.login-form label {
    font-size: 12px;
}

.class {
    text-align: center;
    font-weight: bold;
}

.register {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-1 {
    width: 100%;
    padding: 12px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-1:hover {
    background: #364fc7;
}

/* Register */
.register-container {
    display: flex;
    height: 100vh;
}

.register-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}


.register-form label {
    font-size: 12px;
}

/* header */

/* HEADER */
.header {
    background: linear-gradient(90deg, #1e293b, #0f172a);
    color: white;
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* LOGO */
.logo h1 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* NAV */
.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    transition: 0.3s;
}

.nav a:hover {
    color: white;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: #2563eb;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

/* USER SECTION */
.user-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notifications {
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.2s;
}

.notifications:hover {
    transform: scale(1.2);
}

/* USER */
.user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar {
    background-color: #2563eb;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.name {
    font-size: 14px;
}

